<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <style>
        body {
            background-image: url("https://ae01.alicdn.com/kf/HTB1w3cCdliE3KVjSZFMq6zQhVXaG/White-Wood-Texture-Photography-Backdrops-Wooden-floor-photo-background-newborn-Props-photo-booth-Studio-picture.jpg_Q90.jpg_.webp");
            font-family: inherit;
            background-size: cover;
            background-attachment: fixed;
            display: flex;

        }
        img {
            border-radius: 30px;
            height: 520px;
            width: 520px;
            border: 2px solid pink;
            display: flex;
            justify-content: center;
        
        }
        a{
            display: flex;
            justify-content: center ;
        }
        li{
            display: flex;
            justify-content: first baseline;
        }
        h1{
            color: rgb(174, 8, 166);
         border: 2px;
         font-size: 50px;
         font-family:fantasy;
        }
        ul {
            font-family: inherit;
            font-size: 20px;
            color: rgb(147, 42, 98);
        }
    </style>
</head>
<body>
    <div class="container">
    <h1> WELCOME TO MY VIETNAMESE RESTAURANT</h1>
               <% products.forEach(products =>{ %>
            <div class= "items">
            <div class="info">
                <a href="/products/<%=products._id %>"><%=products.name%></a>
                <img src=<%=products.img %>> <br />
                    Price: $<%=products.price %>
                    </div>
                    </div>
            <% }) %>

        </div>
</body>
</html>