<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <style>
    
        body {
            background-image: url("https://st3.depositphotos.com/1021722/13762/i/450/depositphotos_137623752-stock-photo-art-spring-background-fresh-flower.jpg");
            font-family: inherit;
            background-size: cover;
            background-attachment: fixed;
            display: flexbox;
            text-align: center;
            justify-content: center;
 }
        img {
           size: 10%;
           padding: 5%;
        }
        a {
            color: rgb(214, 100, 209);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><%= products.name%></h1>
        <img src="<%= products.img%>" alt="<%= products.name%>"><br>
    
        <ul>
            <% for(let i=0; i < products.length; i++) { %>
                <li>
                    <%= products[i].name%>
                </li>
            <% } %>
        </ul>

        <ul>
            <li>Name: <%= products.name%> </li>
            <li>Description: <%= products.description%> </li>
             <li>Quantity: <%= products.qty%></li>
        </ul>
        <form action="/products/<%= products._id %>?_method=PUT" method="post">
            <input type="submit" value="BUY"  />
          <a href="/products/<%= products._id %>/edit">Update</a>

    </div> 
</body>
</html>
