<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <style>
    
        body {
            background-image: url("https://ae01.alicdn.com/kf/HTB1w3cCdliE3KVjSZFMq6zQhVXaG/White-Wood-Texture-Photography-Backdrops-Wooden-floor-photo-background-newborn-Props-photo-booth-Studio-picture.jpg_Q90.jpg_.webp");
            font-family: inherit;
            background-size: cover;
            background-attachment: fixed;
            display: flexbox;
            text-align: center;
            justify-content: center;
 }
        img {
         height: 500px;
         width: 500px;
           padding: 5px;
        }
        a {
            color: rgb(214, 100, 209);
        }
    </style>
</head>
<body>
    <div class="flex-container">
        <img src="<%=products.img%>"> 
      <h2>Name: <%=products.name%></h2>
      <h2>Description: <%= products.description%></h2>
      <h2>Price: <%= products.price%></h2>
      <h2>Quantity: <%= products.qty%></h2>
   <% if(products.qty > 2) { %>
<h3> In Stock    <form action="/products/order/<%= products._id%>?_method=PUT" method="POST">
    <input type="submit" value="OREDER"/>
</form></h2>
<%} else if(products.qty > 0) {%>
<h3> Low In Stock    <form action="/products/order/<%= products._id%>?_method=PUT" method="POST">
    <input type="submit" value="OREDER"/>
</h3>
<%} else {%> 
<h3> Out Of Stock</h3>
<% } %>
<form action="/products/<%= products._id%>?_method=DELETE" method="post">
    <input type="submit" value="DELETE">
</form>
<button><a href= "/products/<%=products._id%>/edit">EDIT</a></button> <br>
<button><a href="/products"> Home Page</a></button>
    </div> 
</body>
</html>
